/* Eleciones para el proyecto

Colores:
Header     = #171717
Main       = #EDEDED
Footer     = #444444
Font-color = #DA0037

Familia de Letras:
Banner     = 'New Tegomin', serif;
Titulos    = 'Roboto Slab', serif
Subtitulos = 'Heebo', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  font-family: "New Tegomin", serif;
  color: #EDEDED;
  font-size: 1.5rem;
  text-shadow: 0rem 0rem 1rem #DA0037;
}

h1 {
  font-family: "New Tegomin", serif;
  color: #DA0037;
  font-size: 2rem;
  text-shadow: 0px 0px 5px #EDEDED;
  text-align: center;
  letter-spacing: 0.3rem;
}

h2 {
  font-family: "Roboto Slab", serif;
  color: #000000;
  font-size: 3rem;
  text-shadow: 0px 0px 2px #DA0037;
}

h3 {
  font-family: "Heebo", sans-serif;
  color: #000000;
  font-size: 2rem;
  text-shadow: 0px 0px 2px #DA0037;
}

h4 {
  font-family: "Roboto Slab", serif;
  color: #EDEDED;
  font-size: 1.6rem;
  text-shadow: 0rem 0rem 100rem rgba(23, 23, 23, 0.7176470588);
  font-weight: bolder;
  text-align: center;
}

p {
  font-family: "Heebo", sans-serif;
  font-size: 1.7rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
  padding: 1rem 1.5rem;
}

nav #toggle,
nav label {
  display: none;
}

nav label {
  display: inline-flex;
  color: white;
  cursor: pointer;
}

nav #toggle:checked ~ .menu {
  height: 100%;
}

nav .menu {
  width: 100%;
  height: 0;
  overflow: hidden;
}

.nav-wrapper {
  width: 100%;
  margin: 0rem;
  padding: 1rem;
  background-color: #171717;
  background-image: url(../assets/img/icon/setflix-3.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.menu ul {
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0rem;
}
.menu ul li {
  padding: 1rem;
}

main {
  background-color: #EDEDED;
  min-height: 100vh;
}
main .mini-banner {
  background-color: rgba(23, 23, 23, 0.7176470588);
  padding-bottom: 0.5rem;
}
main .conteiner-busqueda {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem 3rem;
}
main .conteiner-busqueda input {
  padding: 0.3rem;
  border-radius: 2.5rem;
  border: 0.1rem solid #DA0037;
}
main .conteiner-busqueda .item-b2 .button-index {
  background: rgba(23, 23, 23, 0.7176470588);
  border-radius: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  user-select: none;
  width: 3.2rem;
  border: 0;
}
main .conteiner-busqueda .item-b2 .button-index:active, main .conteiner-busqueda .item-b2 .button-index:focus {
  border-bottom-style: none;
  border-color: rgba(23, 23, 23, 0.7176470588);
  box-shadow: #DA0037 0 0 0.3rem;
}
main .conteiner-busqueda .item-b2 .button-index img {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
}
main .conteiner-cards, main .conteiner-section, main .conteiner-section-serie {
  background: rgb(23, 23, 23);
  background: linear-gradient(0deg, rgba(23, 23, 23, 0.9093837364) 0%, rgb(218, 0, 55) 90%);
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #EDEDED;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 2.5rem;
  margin-bottom: 1rem;
}
main .conteiner-cards .conteiner-card, main .conteiner-section .conteiner-card, main .conteiner-section-serie .conteiner-card {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: nowrap;
  margin: 2.5rem 2.5rem;
  width: 20rem;
  height: 34rem;
}
main .conteiner-cards .conteiner-card img, main .conteiner-section .conteiner-card img, main .conteiner-section-serie .conteiner-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.conteiner-section-serie .estilo-1 {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  flex-wrap: nowrap;
  padding: 2rem 2rem;
  letter-spacing: 0.3rem;
}
.conteiner-section-serie .container-temporadas {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  flex-wrap: nowrap;
  padding: 2rem;
  padding-bottom: 1rem;
}
.conteiner-section-serie .container-temporadas .container-temporada {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  flex-wrap: nowrap;
  background-color: #DA0037;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}
.conteiner-section-serie .container-temporadas .container-temporada div .container-lista-cap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: nowrap;
  list-style: none;
}
.conteiner-section-serie .container-temporadas .container-temporada div .container-lista-cap li {
  margin: 1rem 1rem;
  padding: 0.25rem;
  background-color: #444444;
  border-radius: 0.3rem;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  color: white;
}

.conteiner-section {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #EDEDED;
}
.conteiner-section .estilo-1 p {
  padding: 1rem 1rem;
  letter-spacing: 0.2rem;
}
.conteiner-section .estilo-2 {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  flex-wrap: nowrap;
  padding: 1.5rem 1.5rem;
}
.conteiner-section .estilo-2 .bold-cursivo {
  font-weight: bold;
  padding-left: 2rem;
  padding-right: 2rem;
}
.conteiner-section .estilo-2 p {
  padding: 0.25rem 0.25rem;
  letter-spacing: 0.2rem;
  align-self: center;
}

.section-busqueda {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem 3rem;
}
.section-busqueda .conteiner-busqueda-av {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
}
.section-busqueda .conteiner-busqueda-av div {
  padding: 1rem;
}
.section-busqueda .conteiner-busqueda-av div input {
  padding: 0.5rem;
  border-radius: 1.5rem;
  border: 0.1rem solid #DA0037;
}

section .container-resultado {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  flex-wrap: wrap;
  padding: 0.3rem 0.3rem;
}

.inp-altura {
  height: 2.5rem;
}

.section-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  flex-wrap: nowrap;
}
.section-nosotros .conteiner-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: nowrap;
  padding: 1rem 1.5rem;
}
.section-nosotros .conteiner-nosotros-text {
  background-color: rgba(0, 0, 0, 0.2470588235);
  border-radius: 5rem;
  padding: 4rem 4rem;
  margin: 1rem;
  font-weight: bolder;
}

footer {
  background-color: #444444;
  margin-bottom: auto;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: nowrap;
  list-style: none;
}

@media (min-width: 768px) {
  /*INDEX*/
  .main-index .conteiner-busqueda {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    grid-template-areas: ". . item-b1 item-b2";
  }
  .main-index .item-b1 {
    grid-area: item-b1;
    justify-self: center;
  }
  .main-index .item-b2 {
    grid-area: item-b2;
    justify-self: start;
    padding-left: 2.25rem;
  }
  .main-index .container-section-index .conteiner-cards, .main-index .container-section-index .conteiner-section-serie, .main-index .container-section-index .conteiner-section {
    background-color: #EDEDED;
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    grid-template-areas: "card-1 card-2" "card-3 card-4";
  }
  .main-index .container-section-index .conteiner-card .card-1 {
    grid-area: card- 1;
  }
  .main-index .container-section-index .conteiner-card .card-2 {
    grid-area: card- 2;
  }
  .main-index .container-section-index .conteiner-card .card-3 {
    grid-area: card- 3;
  }
  .main-index .container-section-index .conteiner-card .card-4 {
    grid-area: card- 4;
  }
}

/*# sourceMappingURL=style.css.map */
