/* Eleciones para el proyecto

Colores:
Header     = #171717
Main       = #EDEDED
Footer     = #444444
Font-color = #DA0037

Familia de Letras:
Banner     = 'New Tegomin', serif;
Titulos    = 'Roboto Slab', serif
Subtitulos = 'Heebo', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Heebo&family=New+Tegomin&family=Roboto+Slab:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  font-family: "New Tegomin", serif;
  color: #EDEDED;
  font-size: 1.5rem;
  text-shadow: 0rem 0rem 1rem #DA0037;
}

h1 {
  font-family: "New Tegomin", serif;
  color: #DA0037;
  font-size: 2rem;
  text-shadow: 0px 0px 5px #EDEDED;
  text-align: center;
  letter-spacing: 0.3rem;
}

h2 {
  font-family: "Roboto Slab", serif;
  color: #000000;
  font-size: 3rem;
  text-shadow: 0px 0px 2px #DA0037;
}

h3 {
  font-family: "Heebo", sans-serif;
  color: #000000;
  font-size: 2rem;
  text-shadow: 0px 0px 2px #DA0037;
}

h4 {
  font-family: "Roboto Slab", serif;
  color: #EDEDED;
  font-size: 1.6rem;
  text-shadow: 0rem 0rem 100rem rgba(23, 23, 23, 0.7176470588);
  font-weight: bolder;
  text-align: center;
}

p {
  font-family: "Heebo", sans-serif;
  font-size: 1.7rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
  padding: 1rem 1.5rem;
}

nav #toggle,
nav label {
  display: none;
}

nav label {
  display: inline-flex;
  color: white;
  cursor: pointer;
}

nav #toggle:checked ~ .menu {
  height: 100%;
}

nav .menu {
  width: 100%;
  height: 0;
  overflow: hidden;
}

.nav-wrapper {
  width: 100%;
  margin: 0rem;
  padding: 1rem;
  background-color: #171717;
  background-image: url(../assets/img/icon/setflix-3.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.menu ul {
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0rem;
}
.menu ul li {
  padding: 1rem;
}

main {
  background-color: #EDEDED;
  min-height: 100vh;
}
main .mini-banner {
  background-color: rgba(23, 23, 23, 0.7176470588);
  padding-bottom: 0.5rem;
}
main .conteiner-busqueda {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem 3rem;
}
main .conteiner-busqueda input {
  padding: 0.3rem;
  border-radius: 2.5rem;
  border: 0.1rem solid #DA0037;
}
main .conteiner-busqueda .item-b2 .button-index {
  background: rgba(23, 23, 23, 0.7176470588);
  border-radius: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  user-select: none;
  width: 3.2rem;
  border: 0;
}
main .conteiner-busqueda .item-b2 .button-index:active, main .conteiner-busqueda .item-b2 .button-index:focus {
  border-bottom-style: none;
  border-color: rgba(23, 23, 23, 0.7176470588);
  box-shadow: #DA0037 0 0 0.3rem;
}
main .conteiner-busqueda .item-b2 .button-index img {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
}
main .conteiner-cards, main .conteiner-section, main .conteiner-section-serie {
  background: rgb(23, 23, 23);
  background: linear-gradient(0deg, rgba(23, 23, 23, 0.9093837364) 0%, rgb(218, 0, 55) 90%);
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #EDEDED;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 2.5rem;
  margin-bottom: 1rem;
}
main .conteiner-cards .conteiner-card, main .conteiner-section .conteiner-card, main .conteiner-section-serie .conteiner-card {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: nowrap;
  margin: 2.5rem 2.5rem;
  width: 20rem;
  height: 34rem;
}
main .conteiner-cards .conteiner-card img, main .conteiner-section .conteiner-card img, main .conteiner-section-serie .conteiner-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
main .conteiner-cards .conteiner-card .fondo, main .conteiner-section .conteiner-card .fondo, main .conteiner-section-serie .conteiner-card .fondo {
  background: rgb(23, 23, 23);
  background: linear-gradient(0deg, rgba(23, 23, 23, 0.9093837364) 0%, rgb(255, 246, 248) 90%);
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 1.5rem;
  border-radius: 1.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.conteiner-section-serie .estilo-1 {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  flex-wrap: nowrap;
  background: rgb(23, 23, 23);
  background: linear-gradient(0deg, rgba(23, 23, 23, 0.9093837364) 0%, rgb(255, 246, 248) 90%);
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 1.5rem;
  padding: 2rem 2rem;
  letter-spacing: 0.3rem;
}
.conteiner-section-serie .container-temporadas {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  flex-wrap: nowrap;
  padding: 2rem;
  padding-bottom: 1rem;
}
.conteiner-section-serie .container-temporadas .container-temporada {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  flex-wrap: nowrap;
  background-color: #DA0037;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}
.conteiner-section-serie .container-temporadas .container-temporada div .container-lista-cap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: nowrap;
  list-style: none;
}
.conteiner-section-serie .container-temporadas .container-temporada div .container-lista-cap li {
  margin: 1rem 1rem;
  padding: 0.25rem;
  background-color: #444444;
  border-radius: 0.3rem;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  color: white;
}

.conteiner-section {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #EDEDED;
}
.conteiner-section .estilo-1 {
  background: rgb(23, 23, 23);
  background: linear-gradient(0deg, rgba(23, 23, 23, 0.9093837364) 0%, rgb(255, 246, 248) 90%);
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 1.5rem;
}
.conteiner-section .estilo-1 p {
  padding: 1rem 1rem;
  letter-spacing: 0.2rem;
}
.conteiner-section .estilo-2 {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  flex-wrap: nowrap;
  background: rgb(23, 23, 23);
  background: linear-gradient(0deg, rgba(23, 23, 23, 0.9093837364) 0%, rgb(255, 246, 248) 90%);
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 1.5rem;
  padding: 1.5rem 1.5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.conteiner-section .estilo-2 .bold-cursivo {
  font-weight: bold;
  padding-left: 2rem;
  padding-right: 2rem;
}
.conteiner-section .estilo-2 p {
  padding: 0.25rem 0.25rem;
  letter-spacing: 0.2rem;
  align-self: center;
}
.conteiner-section .conteiner-video {
  margin-bottom: 1rem;
}

.section-busqueda {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem 3rem;
}
.section-busqueda .conteiner-busqueda-av {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
}
.section-busqueda .conteiner-busqueda-av div {
  padding: 1rem;
}
.section-busqueda .conteiner-busqueda-av div input {
  padding: 0.5rem;
  border-radius: 1.5rem;
  border: 0.1rem solid #DA0037;
}

.section-sugerencias .center-text {
  margin-left: 25%;
}
.section-sugerencias .container-sugerencias {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  flex-wrap: wrap;
  padding: 0.3rem 0.3rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.section-sugerencias .container-sugerencias .img-suge {
  position: relative;
  width: 20rem;
  border-radius: 0.4rem;
  overflow: hidden;
}
.section-sugerencias .container-sugerencias .img-suge:hover img {
  transform: scale(1.15);
}
.section-sugerencias .container-sugerencias .img-suge img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
}
.section-sugerencias .container-sugerencias .img-suge:hover {
  transform: translateY(0);
}

.inp-altura {
  height: 5rem;
}

.section-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  flex-wrap: nowrap;
}
.section-nosotros .conteiner-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: nowrap;
  padding: 1rem 1.5rem;
}
.section-nosotros .conteiner-nosotros-text {
  background-color: rgba(0, 0, 0, 0.2470588235);
  border-radius: 5rem;
  padding: 4rem 4rem;
  margin: 1rem;
  font-weight: bolder;
}

footer {
  background-color: #444444;
  margin-bottom: auto;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: nowrap;
  list-style: none;
}

@media (min-width: 768px) {
  /*INDEX*/
  main .conteiner-busqueda {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    grid-template-areas: ". . item-b1 item-b2";
  }
  main .item-b1 {
    grid-area: item-b1;
    justify-self: center;
  }
  main .item-b2 {
    grid-area: item-b2;
    justify-self: start;
    padding-left: 2.25rem;
  }
  main .conteiner-cards, main .conteiner-section-serie, main .conteiner-section {
    background-color: #EDEDED;
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    grid-template-areas: "card-1 card-2" "card-3 card-4";
  }
  main .conteiner-card .card-1 {
    grid-area: card- 1;
  }
  main .conteiner-card .card-2 {
    grid-area: card- 2;
  }
  main .conteiner-card .card-3 {
    grid-area: card- 3;
  }
  main .conteiner-card .card-4 {
    grid-area: card- 4;
  }
  /*PAGE: Series*/
  section .conteiner-section-serie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 34rem);
    justify-items: center;
    grid-template-areas: "item-s1  item-s2" "item-s3  item-s3";
  }
  section .estilo-1 {
    margin-top: 4rem;
    padding-top: 0;
  }
  section .item-s1 {
    grid-area: item-s1;
    padding-top: 1rem;
  }
  section .item-s2 {
    grid-area: item-s2;
  }
  section .item-s3 {
    grid-area: item-s3;
    align-self: center;
  }
  /*PAGE: peliculas*/
  section .conteiner-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 34rem);
    justify-items: center;
    grid-template-areas: "item-p1  item-p2" "item-p3  item-p4" "item-p5  item-p5";
  }
  section .item-p1 {
    grid-area: item-p1;
    padding: 1rem;
  }
  section .item-p2 {
    grid-area: item-p2;
    align-self: start;
    height: 34rem;
    overflow: scroll;
    margin-top: 0.4rem;
  }
  section .item-p3 {
    grid-area: item-p3;
    align-self: center;
  }
  section .item-p4 {
    grid-area: item-p4;
    align-self: center;
  }
  section .item-p5 {
    grid-area: item-p5;
    align-self: start;
  }
  /* Busqueda Avanzada*/
  .section-busqueda .conteiner-busqueda {
    grid-template-areas: ".  item-b1 item-b2 .";
  }
  .section-busqueda .conteiner-busqueda-av {
    flex-direction: row;
  }
  .resultados-busqueda .center-text {
    margin-left: 40%;
  }
}
@media (min-width: 1024px) {
  .nav-wrapper nav {
    display: inline;
    padding: 0.5rem 0.5rem;
  }
  .nav-wrapper nav label {
    display: none;
  }
  .nav-wrapper nav #toggle:optional ~ .menu {
    height: 100%;
  }
  .nav-wrapper nav .menu {
    width: 100%;
    height: 0;
  }
  .nav-wrapper .nav-wrapper {
    background-position: center top;
  }
  .nav-wrapper .menu ul {
    padding-top: 5rem;
    padding-bottom: 1rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    grid-template-areas: "item-m1 item-m2 item-m3 item-m4 item5";
  }
  .nav-wrapper .menu ul li .item-m1 {
    grid-area: item-m 1;
  }
  .nav-wrapper .menu ul li .item-m2 {
    grid-area: item-m 2;
  }
  .nav-wrapper .menu ul li .item-m3 {
    grid-area: item-m 3;
  }
  .nav-wrapper .menu ul li .item-m4 {
    grid-area: item-m 4;
  }
  .nav-wrapper .menu ul li .item-m5 {
    grid-area: item-m 5;
  }
  /* INDEX */
  main .conteiner-busqueda {
    grid-template-areas: ".  .item-b1 item-b2";
  }
  main section .conteiner-cards, main section .conteiner-section-serie, main section .conteiner-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    grid-template-areas: "card-1 card-2 card-3 card-4";
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .section-serie .conteiner-section-serie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeact(3, 34rem);
    justify-items: center;
    grid-template-areas: " item-s1  item-s1  item-s1" " item-s2  item-s2  item-s2" " item-s3  item-s3  item-s3";
  }
  .section-serie .conteiner-section-serie .container-temporadas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    grid-template-areas: "item-st1 item-st2 item-st3" ". . .";
    width: 100%;
  }
  .section-serie .conteiner-section-serie .item-st1 {
    grid-area: item-st1;
  }
  .section-serie .conteiner-section-serie .item-st2 {
    grid-area: item-st2;
  }
  .section-serie .conteiner-section-serie .item-st3 {
    grid-area: item-st3;
  }
  main section .conteiner-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 17rem);
    justify-items: center;
    grid-template-areas: "item-p1  item-p2 item-p2" "item-p1  item-p2 item-p2" "item-p5  item-p3 item-p4";
  }
  main section .item-p1 {
    grid-area: item-p1;
  }
  main section .item-p2 {
    grid-area: item-p2;
    align-self: center;
    height: auto;
  }
  main section .item-p3 {
    grid-area: item-p3;
    align-self: start;
  }
  main section .item-p4 {
    grid-area: item-p4;
    align-self: start;
  }
  main section .item-p5 {
    grid-area: item-p5;
    align-self: end;
  }
  main .section-sugerencias .center-text {
    margin-left: 40%;
  }
  main .section-sugerencias .container-sugerencias {
    display: flex;
    gap: 0;
    margin-left: 25%;
    width: 60rem;
    height: 40rem;
  }
  main .section-sugerencias .container-sugerencias .img-suge {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.4s ease;
  }
  main .section-sugerencias .container-sugerencias .img-suge:hover {
    cursor: pointer;
    width: 10rem;
    opacity: 1;
    filter: contrast(120%);
  }
}

/*# sourceMappingURL=style.css.map */
