
@mixin format-text($font-family, $color, $size, $shadow){
    font-family: $font-family;
    color:$color;
    font-size: $size;
    text-shadow: $shadow;
}

@mixin flex($direction,$just-cont,$ali-item,$wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $just-cont;
    align-items: $ali-item;
    flex-wrap: $wrap;
}

@mixin grid($colums,$rows,$just-items){
    display: grid;
    grid-template-columns: $colums;
    grid-template-rows: $rows;
    justify-items: $just-items;
}

@mixin fondo_textos{
    background: rgb(23,23,23);
    background: linear-gradient(0deg, rgba(23,23,23,0.9093837364047181) 0%, rgba(255,246,248,1) 90%); 
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 1.5rem;
}