/* Eleciones para el proyecto

Colores:
Header     = #171717
Main       = #EDEDED
Footer     = #444444
Font-color = #DA0037

Familia de Letras:
Banner     = 'New Tegomin', serif;
Titulos    = 'Roboto Slab', serif
Subtitulos = 'Heebo', sans-serif;
*/

$color-nav: #171717;
$color-main: #EDEDED;
$color-footer: #444444;
$color-font: #DA0037;

$font-banner: 'New Tegomin', serif;
$font-titulos: 'Roboto Slab', serif;
$font-subtitulos: 'Heebo', sans-serif;