html {
    font-size: 62.5%;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    font-family: $font-banner;
    color: $color-main;
    font-size: 1.5rem;
    text-shadow: 0rem 0rem 1rem $color-font;
}

h1 {
    font-family: $font-banner;
    color: $color-font;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    text-shadow: 0px 0px 5px $color-main;
}

h2 {
    text-decoration: none;
    font-family: $font-banner;
    color: #000000;
    font-size: 3rem;
    text-shadow: 0px 0px 2px $color-font;
}

h3 {
    text-decoration: none;
    font-family: $font-titulos;
    color: #000000;
    font-size: 2rem;
    text-shadow: 0px 0px 2px $color-font;
}

p {
    font-family: $font-subtitulos;
    font-size: 1.7rem;
}