html {
    font-size: 62.5%;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    @include format-text($font-banner,$color-main,1.5rem,0rem 0rem 1rem $color-font);
}

h1 {
    @include format-text($font-banner,$color-font,2rem,0px 0px 5px $color-main);
    text-align: center;
    letter-spacing: 0.3rem;
}

h2 {
    @include format-text($font-titulos,#000000,3rem,0px 0px 2px $color-font);
}

h3 {
    @include format-text($font-subtitulos,#000000 ,2rem,0px 0px 2px $color-font);
}

h4{
    @include format-text($font-titulos,$color-main,1.6rem,0rem 0rem 100rem #171717b7);
    font-weight: bolder;
    text-align: center;
}

p {
    font-family: $font-subtitulos;
    font-size: 1.7rem;
}