@media(min-width:768px) {
    /*INDEX*/

    main {
        .conteiner-busqueda {
            @include grid(repeat(4, 1fr), repeat(1, 1fr), center);
            grid-template-areas:
                ". . item-b1 item-b2";
        }

        .item-b1 {
            grid-area: item-b1;
            justify-self: center;
        }

        .item-b2 {
            grid-area: item-b2;
            justify-self: start;
            padding-left: 2.25rem;
        }

        .conteiner-cards {
            background-color: $color-main;
            margin-left: 1rem;
            margin-right: 1rem;
            @include grid(repeat(2, 1fr), repeat(2, 1fr), center);
            grid-template-areas:
                "card-1 card-2"
                "card-3 card-4";
        }

        .conteiner-card {
            @for $nro-card from 1 through 4 {
                .card-#{$nro-card} {
                    grid-area: card-$nro-card;
                }
            }

        }

    }
    /*PAGE: Series*/
    section {
        .conteiner-section-serie {
            @include grid(repeat(2, 1fr), repeat(2, 34rem), center);
            grid-template-areas:
                "item-s1  item-s2"
                "item-s3  item-s3";
        }
        .estilo-1{
            margin-top : 4rem;
            padding-top: 0;
        }
        .item-s1 {
            grid-area: item-s1;
            padding-top: 1rem;
        }

        .item-s2 {
            grid-area: item-s2;
        }

        .item-s3 {
            grid-area: item-s3;
            align-self: center;
        }
    }

    /*PAGE: peliculas*/
    section {
        .conteiner-section {
            @include grid(repeat(2, 1fr), repeat(2, 34rem), center);
            grid-template-areas:
                "item-p1  item-p2"
                "item-p3  item-p4"
                "item-p5  item-p5";

        }

        .item-p1 {
            grid-area: item-p1;
            padding: 1rem;
        }

        .item-p2 {
            grid-area: item-p2;
            align-self: start;
            height: 34rem;
            overflow: scroll;
            margin-top: 0.4rem;
        }

        .item-p3 {
            grid-area: item-p3;
            align-self: center;
        }

        .item-p4 {
            grid-area: item-p4;
            align-self: center;
        }

        .item-p5 {
            grid-area: item-p5;
            align-self: start;
        }
    }

    /* Busqueda Avanzada*/

    .section-busqueda {

        .conteiner-busqueda {
            grid-template-areas:
                ".  item-b1 item-b2 .";
        }

        .conteiner-busqueda-av {
            flex-direction: row;
        }

    }
}