.section-nosotros {
    @include flex(column, center, none, nowrap);

    .conteiner-nosotros {
        @include flex(column, space-evenly, none, nowrap);
        padding: 1rem 1.5rem;
        background: rgb(23, 23, 23);
        background: linear-gradient(0deg, rgba(23, 23, 23, 0.9093837364047181) 9%, rgba(146, 141, 142, 0.3575630935968137) 98%, rgba(255, 246, 248, 1) 100%);


    }

    .conteiner-nosotros-text {
        background-color: $color-main;
        border-radius: 5rem;
        padding: 4rem 4rem;
        margin: 5rem 1rem;
        font-weight: bolder;

    }

    .logo {
        margin-left: 6rem;

        img {
            width: 20rem;
            height: 20rem;
        }
    }
}